<div id="<%= dom_id article %>">

  <% @article.photos.each do |photo| %>
    <%= cl_image_tag photo.key, width: 300 %>
  <% end %>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

</div>
